<button [routerLink]="['/movie-details', movie?.id]" class="">
  <mat-card
    *ngIf="movie"
    class="w-44 h-72 group relative bg-[#001f3d] flex flex-col"
    #tooltip="matTooltip"
    [matTooltip]="movie.overview"
    aria-label="Tooltip"
    matTooltipPosition="right"
    matTooltipClass="mat-tooltip"
    style="border-radius: 10px"
    [ngClass]="{ 'w-56': numOfCols === 5, 'w-64': numOfCols === 1 }"
  >
    <img
      mat-card-image
      [src]="baseImagePath + movie.poster_path"
      alt="image"
      class="mx-auto h-[260px] w-full"
      style="border-top-left-radius: 5px; border-top-right-radius: 5px"
    />
    <div
      class="h-full flex justify-between w-full py-2 px-1 items-center bg-[#001f3d] text-[#fff] rounded-b-md"
    >
      <div
        class="max-w-[3/4] text-[.65rem] text-[#fff] truncate hover:whitespace-normal"
      >
        <span class="text-left">
          {{ movie.title }}
        </span>
      </div>
      <div>
        <span class="font-light">{{
          movie.release_date.toString().substring(0, 4)
        }}</span>
      </div>
    </div>
  </mat-card>
</button>
