<mat-toolbar
  class="mx-auto border-x justify-between border-b-[2px] border-[#001f3d] sticky top-0 z-10 opacity-0.8"
  style="background-color: #050a30; color: #fff"
>
  <div class="flex justify-center items-center gap-1">
    <mat-icon>movie</mat-icon>
    <a routerLink="home" class="text-xl font-semibold no-underline"
      >Movie App</a
    >
  </div>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon color="primary">favorite </mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <div class="p-3 divide-y divide-solid">
      <div class="pb-2 flex justify-between">
        <span class="mr-16">1 item(s)</span>
        <a routerLink="cart" class="text-[#7EC8E3]">Saved movies</a>
      </div>

      <div class="py-2">
        <div class="flex justify-between pb-2">
          <span class="font-medium">Avengers</span>
          <span>{{ 230 | currency }}</span>
        </div>
        <div class="flex justify-between pb-2">
          <span class="font-medium">Mission Impossible</span>
          <span>{{ 350 | currency }}</span>
        </div>
        <div class="flex justify-between pb-2">
          <span class="font-medium">Men In Black</span>
          <span>{{ 230 | currency }}</span>
        </div>
      </div>

      <div class="py-2 flex justify-between">
        <span class="font-semibold">Total</span>
        <span>
          {{ 940 | currency }}
        </span>
      </div>

      <div class="py-3 flex justify-between">
        <button class="rounded-full w-9 h-9 bg-red-600">
          <mat-icon color="white">turned_in_not</mat-icon>
        </button>
        <button class="rounded-full w-9 h-9 bg-[#7EC8E3]">
          <mat-icon>turned_in</mat-icon>
        </button>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>
