<mat-toolbar
  class="mx-auto border-x justify-between border-b-[2px] border-[#001f3d] sticky top-0 z-10 opacity-0.8"
  style="background-color: #050a30; color: #fff"
>
  <div class="flex justify-center items-center gap-1">
    <mat-icon>movie</mat-icon>
    <a routerLink="home" class="text-xl font-semibold no-underline"
      >Movie App</a
    >
  </div>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon color="primary">favorite </mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <div class="p-3 divide-y divide-solid" *ngIf="savedMovies">
      <div class="pb-2 flex justify-between">
        <p class="mr-16">{{ savedMovies.length }} Movie(s)</p>
        <a routerLink="favorites" class="text-[#7EC8E3] inline-block"
          >See favorites</a
        >
      </div>

      <ng-container class="py-2" *ngFor="let movie of savedMovies">
        <div class="truncate flex justify-between p-2 mb-2">
          <span class="font-medium">
            {{ movie.title }}
          </span>
          <span>{{ movie.release_date.toString().slice(0, 4) }}</span>
        </div>
      </ng-container>

      <div class="py-3 flex justify-between">
        <button class="rounded-full w-9 h-9 bg-red-600">
          <mat-icon color="white">turned_in_not</mat-icon>
        </button>
        <button class="rounded-full w-9 h-9 bg-[#7EC8E3]">
          <mat-icon>turned_in</mat-icon>
        </button>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>
