<!-- 
        <kendo-card width="45%" style="max-width: 350px;">
            <kendo-card-header class="k-hbox">
                <kendo-skeleton
                    shape="circle"
                    animation="pulse"
                    [width]="40"
                    [height]="40"
                ></kendo-skeleton>
                <div
                    [ngStyle]="{ flex: '1 1 50%', marginLeft: '16px' }"
                >
                    <kendo-skeleton
                        shape="text"
                        animation="pulse"
                        width="100%"
                    ></kendo-skeleton>
                    <kendo-skeleton
                        shape="text"
                        animation="pulse"
                        width="40%"
                    ></kendo-skeleton>
                </div>
            </kendo-card-header>

            <kendo-skeleton
                shape="rectangle"
                animation="pulse"
                width="100%"
                height="143.86px"
            ></kendo-skeleton>

            <kendo-card-footer class="k-hbox">
                <kendo-skeleton
                    shape="text"
                    animation="pulse"
                    width="100%"
                ></kendo-skeleton>
            </kendo-card-footer>
        </kendo-card>
        <kendo-card
            width="45%" style="max-width: 350px; margin-left: 15px;"
        >
            <kendo-card-header class="k-hbox">
                <kendo-avatar
                    width="40px"
                    height="40px"
                    [imageSrc]="avatarUrl"
                    shape="circle"
                ></kendo-avatar>
                <div>
                    <h1 kendoCardTitle>Tom Smith</h1>
                    <p kendoCardSubtitle>5 hours ago</p>
                </div>
            </kendo-card-header>

            <img
                [src]="thumbnailUrl"
                alt="description"
                [ngStyle]="{ width: '100%' }"
            />

            <kendo-card-footer class="k-hbox">
                <span>{{ description }}</span>
            </kendo-card-footer>
   -->
