<ng-container>
  <!-- <mat-expansion-panel-header>
    <mat-panel-title>Categories</mat-panel-title>
  </mat-expansion-panel-header> -->

  <!-- <mat-selection-list [multiple]="false">
    <mat-list-option>
      <button>
        {{ category }}
      </button>
    </mat-list-option>
  </mat-selection-list> -->

  <div class="p-1 text-white">
    <h3 class="font-medium text-start">Categories</h3>

    <div class="flex flex-col justify-center items-start">
      <ng-container *ngFor="let category of genres">
        <button mat-button class="text-white mt-1">
          {{ category.name }}
        </button>
      </ng-container>
    </div>
  </div>
</ng-container>
