@use "@angular/material" as mat;

// @include mat.core();

$my-theme-primary: mat.define-palette(mat.$blue-palette, 800);
$my-theme-accent: mat.define-palette(mat.$pink-palette, 300);
$my-theme-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-theme-primary,
      accent: $my-theme-accent,
      warn: $my-theme-warn,
    ),
    density: 0,
  )
);

@include mat.core-theme($my-theme);
